DB_SOURCE=root:12345@tcp(localhost:3306)/ecommerce_order_db?parseTime=true
HTTP_SERVER_ADDRESS= 0.0.0.0:9002
JWT_SECRET=""
CLIENT_IP=http://localhost:9999
REDIS_ADDRESS=localhost:6379

URL_PRODUCT_SERVICE=http://172.26.127.95:9001
URL_TRANSACTION_SERVICE=http://172.26.127.95:9003



KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP=ecom-payment-service-group



TOKEN_SYSTEM=""