DB_SOURCE=root:12345@tcp(localhost:3306)/ecommerce_product_db?parseTime=true
REDIS_ADDRESS=localhost:6379
HTTP_SERVER_ADDRESS= 0.0.0.0:9001
JWT_SECRET=bv-T"-u6@-WR?SHiHQ7yQ]CK*dd9(@jM9BI)|g;zq)ur-Z.Jw/u5HyJHgg,KS.fa
CLIENT_IP=http://localhost:9999,http://localhost:8989
IMAGE_PATH=./images/