DB_SOURCE=root:12345@tcp(localhost:3306)/ecommerce_transacion_db?parseTime=true
REDIS_ADDRESS=localhost:6379
KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP=ecom-payment-service-group
HTTP_SERVER_ADDRESS= 0.0.0.0:9003
JWT_SECRET=""
CLIENT_IP=http://localhost:9999
ACCESS_KEY_MOMO=""
SECRET_KEY_MOMO=""
REDIRECTURL=http://localhost:9999/vi/dat-hang-thanh-cong
IPNURL= https://51c3b9baa7ac.ngrok-free.app/v1/transaction/callback
PUBLIC_ID= https://51c3b9baa7ac.ngrok-free.app/v1
ENDPOINT_MOMO=https://test-payment.momo.vn/v2/gateway/api/create
ORDER_DURATION=90m
PLATFORM_ID=""
URL_PRODUCT_SERVICE=http://172.26.127.95:9001
URL_ORDER_SERVICE=http://172.26.127.95:9002
BREVO_API_KEY=""
SENDER_EMAIL=hienlazada1912@gmail.com
SENDER_NAME=lemarchenoble