DB_SOURCE_ORDER=root:12345@tcp(localhost:3306)/ecommerce_order_db?parseTime=true
DB_SOURCE_TRANSACTION=root:12345@tcp(localhost:3306)/ecommerce_transacion_db?parseTime=true
DB_SOURCE_INTERACT=root:12345@tcp(localhost:3306)/ecommerce_interact_db?parseTime=true
REDIS_ADDRESS=localhost:6379
HTTP_SERVER_ADDRESS= 0.0.0.0:9004
JWT_SECRET=""
CLIENT_IP=http://localhost:9999,http://localhost:8989
